@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  background-color: #6193c5;
  /* text-transform: uppercase; */
  margin: 0 auto;
  padding: 0;
  color: #e6e6e6;
  font-family: "Manrope", sans-serif;
}

.container {
  max-width: 1920px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.section-middle {
  min-width: 0;
}

.content {
  /* margin-top: auto;
  margin-bottom: auto; */
  min-width: 0;
}

h1{
  text-transform: uppercase;
}

p {
  text-align: center;
  font-size: 27px;
  font-weight: 500;
}
h2 {
  text-align: center;
  font-size: 50px;
  font-weight: 800;
  line-height: 50px;
  text-transform: uppercase;
}

.top {
  display: block;
  max-width: 100%;
  max-width: 400px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
}

.sticky-picture {
  min-width: 0;
  /* position: fixed; */
  bottom: 0;
  /* width: 100%; */
}

.bottom {
  display: block;
  max-width: 100%;
  max-width: 400px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  margin-bottom: 0;
}
.navigation-links {
  text-decoration: none;
  color: white;
  text-align: center;
}
a {
  margin-left: 15px;
  margin-right: 15px;
  text-decoration: none;
  font-size: 16px;
  font-weight: 400;
  margin-top: 50px;
  line-height: 30px;
}
a:visited {
  color: white;
}
a:hover {
  color: #f4c650;
}
a.mail:hover {
  color: #f4c650;
}
a:active {
  color: black;
}
a:link {
  color: white;
}

.arrow-left, .arrow-right {
  display: flex;
  width: auto; /* USTAWIENIE AUTO, ABY STRZAŁKI NIE PRZESUWAŁY SIĘ */
}

.arrow-left {
  justify-content: flex-start;
}

.arrow-right {
  justify-content: flex-end;
}




/* large grid */
.no-underline {
  text-decoration: none;
}

.image {
  margin-bottom: 0;
  display: block;
}

.item p {
  margin: 0; /* Resetowanie domyślnych marginesów */
}

.item {
  margin-bottom: 0;
  padding: 0;
}





@media (max-width: 480px) {
  .top {
    display: block;
    max-width: 100%;
    max-width: 310px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 60px;
  }
  .sticky-picture {
    position: fixed;
    bottom: 0;
    width: 100%;
  }

  .bottom {
    display: table;
    position: relative;
    margin: auto;
    max-width: 310px;
    height: auto;
  }

  p {
    font-size: 16px;
    margin-bottom: 20px;
  }
  h2 {
    font: 30px;
  }
  a {
    font-size: 12px;
    margin-top: 20px;
    margin-bottom: auto;
  }
}
@media (min-width: 481px) and (max-width: 767px) {
  .top {
    max-width: 250px;
  }
  .sticky-picture {
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  .bottom {
    max-width: 250px;
  }
  p {
    font-size: 22px;
  }
  h2 {
    font-size: 40px;
    line-height: 30px;
  }
  a {
    font-size: 14px;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
}

@media (min-width: 1025px) and (max-width: 1200px) {
}

@media (min-width: 1201px) and (max-width: 1366px) {
  /* ta wydaje sie ok, do sprawwdzenia popularne rozdzielczosci */
}

@media (min-width: 1367px) {
  /* do dostosowania do duzej */
}
/* rozdzielczości: 
mobile do 480 - jest,
mobile do 768,
mobile/tablet do 768
tablet do 1024
desktop do 1200
desktop do 1366
desktop do 1920 

zrobic mobile ponizej mniej wiecej 750px
tablet osobno: 768 x 1024 
*/
